body{
    color: white;
}
.about-head h1{
    text-align: center;
  padding-top: 40px;
}
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.about-section img{
    border-radius: 10px;
}
.about-section p{
    margin: 20px;
}